.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiCardContent-root {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.MuiChip-colorPrimary {
  height: 40px !important;
}

.MuiAvatar-colorDefault,
.MuiChip-label,
text {
  font-size: 15px !important;
  font-weight: 700 !important;
}

.MuiChip-label,
text {
  font-weight: 500 !important;
}

.dxc-title > text {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.MuiPaper-elevation1 {
  box-shadow: unset !important;
}

.MuiChip-avatarColorPrimary {
  width: 50px !important;
}

#linksWrapper {
  width: 100%;
}

#linksWrapper .MuiTabs-flexContainerVertical > a {
  display: flex;
}

#linksWrapper .MuiTabs-flexContainerVertical > a > svg {
  margin: auto 0 auto 10px;
  padding-bottom: 2px;
}
